@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestão de Funcionários</h1>
    <p>
        Bem-vindo ao sistema de gestão de funcionários.
    </p>
    <p>
        Este sistema permite cadastrar, editar e excluir funcionários, além de visualizar os detalhes de cada um.
    </p>
    <p>
        Para começar, clique no menu "Funcionários" no topo da página.
    </p>
    <p>
        Este sistema foi desenvolvido como parte do curso de ASP.NET Core (Frontend), utilizando Entity Framework Core (Backend) e a ferramenta Supabase para o banco de dados (PostgreSQL).
    </p>
</div>
